<div class="form-container">
  <div class="row" id="form-create">
    <div class="col-xs-3"></div>
    <div class="col-xs-12 col-sm-6 sol-lg4">

      <h2>Add tracks to <%= @tour.title %></h2>

      <br>

      <div id="existing-tracks">
        <h5>Existing tracks:</h5>
        <% if @tour.tracks == [] %>
          <p>This tour has no tracks yet.</p>
        <% else %>
          <% @tour.tracks.each do |track| %>
            <p><%= track.title %></p>
          <% end %>
        <% end %>
      </div>

      <div id="add-track-form">
        <%= simple_form_for [@tour, @track], remote: true do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :location %>
          <%= f.input :description %>
          <%= f.input :audio %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <br>

        <div class="form-actions">
          <%= f.button :submit, "Add track", class: 'btn-primary', id: "btn-add-track" %>
        </div>
        <% end %>
      </div>

      <div>
        <%= link_to "Finished!", tour_path(@tour), class: 'btn btn-success' %>
      </div>

    </div>
  </div>
</div>

