

<div class="top-index-container">
  <%= render 'shared/navbar_v2' %>
    <%= render 'shared/navbar_v2_sidebar' %>
    <div class="top-navbar">
      <img src="https://res.cloudinary.com/dm25xqrrj/image/upload/v1551938861/Logos/Tourio-white.png" alt="" class="avatar">
      <h2>Tourio</h2>
    </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= cl_image_path @track.photo %>') ;">


  <div class="container">
    <h1><strong><%= @track.title %></strong></h1>
    <hr>
    <%= render 'shared/audio_player_tracks' %>
    <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
    <% tour_track_ids = @tour.tracks.ids %>
    <% track_id =  @track.id %>
    <% if track_id != @tour.tracks.last.id %>
      <% next_track_index = tour_track_ids.index(track_id)+1 %>
      <% next_track_id = tour_track_ids[next_track_index] %>
      <% next_track = @tour.tracks.find(next_track_id) %>
      <br><br>
      <%= link_to "Next track", track_goto_path(@tour, next_track), class: "btn-gradient" %>
    <% else %>
      <br><br>
      <p>Tour Completed!</p>
      <br>
      <%#= link_to "Review Tour !", tour_path(@tour), class: "btn-lg btn-success"  %>

    <%= render 'shared/review_modal' %>

    <% end %>

    <!-- Restauran modal -->
    <%= render 'shared/nearby_restaurant' %>


  </div>
</div>



