
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= cl_image_path @track.photo %>');">


  <div class="container">
    <h1><strong><%= @track.title %></strong></h1>
    <hr>
    <%= render 'audio_player_tracks' %>
    <!-- Script below to check whether its the last track to show the appropriate button-->
    <% tour_track_ids = @tour.tracks.ids %>
    <% track_id =  @track.id %>
    <% if track_id != @tour.tracks.last.id %>
      <% next_track_index = tour_track_ids.index(track_id)+1 %>
      <% next_track_id = tour_track_ids[next_track_index] %>
      <% next_track = @tour.tracks.find(next_track_id) %>
      <br><br>
      <%= link_to "Next location", track_goto_path(@tour, next_track), class: "btn-gradient" %>
      <%= render 'nearby_restaurant' %>
    <% else %>
      <div class="completed-info">
        <br>
        <p>Tour completed!</p>
        <%= render 'shared/review_modal' %>
      <% end %>

      <%= render 'nearby_restaurant' %>
      </div>

  </div>
</div>

