<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%#= link_to "#", class: "navbar-brand" do %>
    <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <%# end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%#= link_to "Profile", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%#= link_to "My tours", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%#= link_to "Favourites", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%#= link_to "Action", "#", class: "dropdown-item" %>
          <%#= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<nav id="sidebar">
  <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
  </div>

  <div class="sidebar-header">
      <h3>[Person's profile pic and name - like Uber]</h3>
  </div>

  <ul class="list-unstyled components">
      <li class="active">
        <!-- <a href="#">Profile</a> -->
        <%= link_to "ðŸ“» See all tours", tours_path %>
      </li>
      <li>
        <%= link_to "ðŸ™‚ Profile", edit_user_registration_path %>
      </li>
      <li>
        <a href="#">ðŸŽ§ My Tours</a>
      </li>
      <li>
        <%= link_to "â­ Favourites", favourites_path %>
      </li>
      <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Profile</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Favourited Tours</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul>
      </li> -->
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <%= link_to "Create a tour", new_tour_path, class: "download" %>
      <!-- <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Creat</a> -->
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, class: "article" %>
    </li>
      <!-- <li>
          <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
          <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li> -->
  </ul>
</nav>


