
<nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar__menu-btn">
      <img src="https://res.cloudinary.com/dm25xqrrj/image/upload/v1551938861/Logos/Tourio-white.png" alt="" class="avatar">
        <i class="fas fa-align-left navbar__menu-icon"></i>
        <!-- <span>Toggle Sidebar</span> -->
    </button>
</nav>

<nav id="sidebar">
  <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
  </div>

  <!-- <div class="sidebar-header">
    <img src="<%#= cl_image_path current_user.photo %>" alt="" class='profile-pic'>
    <h3><%#= current_user.first_name.capitalize %></h3>
  </div> -->

  <ul class="list-unstyled components">
      <li class="active">
        <!-- <a href="#">Profile</a> -->
        <%= link_to "ðŸ“» See all tours", tours_path %>
      </li>
      <li>
        <%= link_to "ðŸ™‚ Edit my profile", edit_user_registration_path %>
      </li>
      <li>
        <%= link_to "ðŸŽ§ My Tours", "#" %>
      </li>
      <li>
        <%= link_to "â­ Favourites", favourites_path %>
      </li>
      <li>
        <%= link_to "Create a tour !", new_tour_path %>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path %>
      </li>

     <!--  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Profile</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Favourited Tours</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Page 1</a>
              </li>
              <li>
                  <a href="#">Page 2</a>
              </li>
              <li>
                  <a href="#">Page 3</a>
              </li>
          </ul>
      </li>
  </ul> -->
<!--
  <ul class="list-unstyled CTAs">
    <li>
      <%= link_to "Create a tour", new_tour_path, class: "download" %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, class: "article" %>
    </li>
    <li>
      <%= link_to "Login", new_user_session_path, class: "article" %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path, class: "article" %>
    </li>
  </ul>
</nav>

 -->
