<div class="navbar-wagon">


    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <a class="navbar-wagon-item navbar-wagon-link" href='<%= tours_path%>'><i class="fas fa-home fa-2x"></i></a>
      <a class="navbar-wagon-item navbar-wagon-link" href='<%= tours_path%>'><i class="fas fa-search fa-2x"></i></a>
      <a class="navbar-wagon-item navbar-wagon-link" href='<%= tours_path%>'><i class="far fa-star fa-2x"></i></a>
      <a class="navbar-wagon-item navbar-wagon-link" href='<%= tours_path%>'><i class="fas fa-sign-out-alt fa-2x"></i></a>


    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

