


<div class="container-reviews-box">
  <div class="row">
    <div class="col-12" id="review">
      <h3>REVIEWS</h3>
      <h6><strong><%= pluralize @tour.reviews.size, "review" %></strong></h6>

      <div class="reviews">
        <% if @tour.reviews.blank? %>
          <p style="font-size: 10px;">Be the first to leave a review for <%= @tour.title %></p>
        <% else %>
        <ul class="reviews-list" style="list-style-type: none;">
          <% @tour.reviews.each do |review| %>


              <li>
                <p>Reviewed by <%= review.user.first_name %></p>
                <p style="font-size: 16px"><%= review.content %></p>
              </li>


          <% end %>
        </ul>
          <hr style="margin-top: 5px; margin-bottom: 5px;">


        <% end %>

      <button class="btn btn-ghost" data-toggle="collapse" data-target="#demo" style="color: white;">Review Tour</button>

      </div>
      <div id="demo" class="collapse">
        <br>
        <%= render 'reviews/form', tour: @tour, review: @review %>
      </div>
      </div>
  </div>
</div>







