<div class="tour-description">
  <div class="row tour-description__meta">
    <div class="col"><i class="fas fa-map-marker-alt">&nbsp;</i><%= @tour.start_location.capitalize %></div>
    <div class="col"><i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> hours</div>
    <div class="col"><i class="fas fa-flag">&nbsp;</i><%= @tour.language %></div>
  </div>
  <p class="tour-description-body"><%= @tour.description %></p>

<div>
  <p>Narrated by:</p>
  <%= cl_image_tag @tour.user.photo, class: "profile-pic" %>
  <% name = @tour.user.first_name.capitalize + " " + @tour.user.last_name.capitalize  %>
  <p style="margin-bottom:0"><%= link_to name, tour_user_path(@tour) %></p>
  <p><small>Member since: <%= @tour.user.created_at.strftime("%B %Y") %></small></p>
</div>

      <br>
  <%= link_to "START TOUR !", track_goto_path(params[:id], @tracks.first), class: "btn btn-gradient floating-pill-btn" %>
</div>

