<div class="container">
  <div class="row" id="form-create">
    <div class="col-xs-3"></div>
    <div class="col-xs-12 col-sm-6 sol-lg4">

      <%= simple_form_for(@tour) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :start_location %>
        <%= f.input :description %>
        <%= f.input :category, collection: [ "History", "Food", "Adventure", "Supernatural", "Sightseeing", "Romance", "Adrenaline" ] %>
        <%= f.input :language %>
        <%= f.input :duration %>
      </div>
      <%= f.button :submit %>
<!--       </div> -->
   <!--  <div class="modal-footer"> -->
      <!-- <div class="form-actions"> -->
   <!--    </div> -->
    <% end %>
    <p>TODO:</p>
    <li>1. Add ability to add photos</li>
    <li>2. Choose from a selection of languages</li>
    <li>3. Update categories</li>
    <li>4. Upload audio files for tracks and their locations</li>
    </div>
  </div>
</div>

<!-- create_table "tours", force: :cascade do |t|
    t.string "title"
    t.string "start_location"
    t.text "description"
    t.bigint "user_id"
    t.integer "duration"
    t.string "category"
    t.string "language"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.float "latitude"
    t.float "longitude"
    t.index ["user_id"], name: "index_tours_on_user_id"
  end -->
