<div class="container">
  <div class="row" id="form-create">
    <div class="col-xs-3"></div>
    <div class="col-xs-12 col-sm-6 sol-lg4">

      <h2>Step 1/3: Create a tour</h2>

      <%= simple_form_for(@tour) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :start_location %>
        <%= f.input :description %>
        <%= f.input :category, collection: [ "History", "Food", "Adventure", "Supernatural", "Sightseeing", "Romance", "Adrenaline" ] %>
        <%= f.input :language %>
        <%= f.input :duration %>
        <%#= f.simple_fields_for :photos, Photo.new do |p| %>
          <%#= p.input :photo, input_html: { multiple: true }, name: "tour[images_attributes][][photo]"%>
          <%#= p.input :photo_cache, as: :hidden %>
        <%# end %>
      </div>
      <%= f.button :submit, "Next step: Upload tour photos >", class: 'btn-primary'%>
<!--       </div> -->
   <!--  <div class="modal-footer"> -->
      <!-- <div class="form-actions"> -->
   <!--    </div> -->
      <% end %>

      <!-- Add form for uploading photos -->


      <!-- Add form for uploading audio tracks -->

<!-- create_table "tours", force: :cascade do |t|
    t.string "title"
    t.string "start_location"
    t.text "description"
    t.bigint "user_id"
    t.integer "duration"
    t.string "category"
    t.string "language"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.float "latitude"
    t.float "longitude"
    t.index ["user_id"], name: "index_tours_on_user_id"
  end -->
