<div class="main-container">
  <!-- <div class="btn btn-primary">Something</div> -->
  <div class="row">
    <div class="col-12">
      <img src="<%= cl_image_path @tour.photos[0].photo %>" alt="" class='main-image'>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[0].photo %>" alt="" class='main-image'>
    </div>
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[1].photo %>" alt="" class='main-image'>
    </div>
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[2].photo %>" alt="" class='main-image'>
    </div>
  </div>
</div>

<div class="container-fluid">
   <!-- <div id="style-selector-control" class="map-control">
      <input type="radio" name="show-hide" id="hide-poi"
          class="selector-control">
      <label for="hide-poi">Hide</label>
      <input type="radio" name="show-hide" id="show-poi"
      <label for="show-poi">Show</label>
    </div> -->
    <!-- <div id="map"></div> -->
  </div>
    <div class="show-title">
      <h3>Preview Tour</h3>
      <%= render 'shared/audio_player' %>
    </div>

  <div class="card-group">
    <div class="card" style="border:none">
      <div class="card-body">
        <p class="card-text"><small class="text-muted"><%= @tour.category.capitalize %></small></p>
        <h5 class="card-title"><%= @tour.title %> </h5>
        <p class="card-text"><%= @tour.description %></p>
        <p><i class="fas fa-map-marker-alt">&nbsp;</i><%= @tour.start_location.capitalize %></p>
        <p><i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> hours</p>
        <p><i class="fas fa-flag">&nbsp;</i><%= @tour.language %></p>

        <p class="card-text"><small class="text-muted">Last updated: <%= @tour.updated_at %></small></p>
            <br>

        <!-- If statement for whether current tour has already been favourited -->
        <% if current_user != nil %>
          <% if current_user.favourites.where(tour_id: @tour).first == nil %>
            <%= link_to "Add to favourites", tour_favourites_path(params[:id]), method: :post, remote: true, class: "unfavourited", id: "favourited-button" %>
          <% else %>
            <%= link_to "Remove from favourites", favourite_path(current_user.favourites.where(tour_id: @tour).first.id), method: :delete, remote: true, class: "favourited", id: "favourited-button" %>
          <% end %>
        <% else %>
          <%= link_to "Add to favourites", tour_favourites_path(params[:id]), method: :post, class: "unfavourited", id: "favourited-button" %>
        <% end %>

            <br>
            <br>
        <%= link_to "START TOUR !", track_goto_path(params[:id], @tracks.first), class: "btn btn-gradient" %>

          </div>
        </div>
      </div>
    </div>
  </div>
    <hr>
    <div class="container">
      <h5 class="card-title">Visited Places</h5>
      <% tracks = @tour.tracks %>
      <% tracks.each do |track| %>
      <ul>
        <li>
          <p><%= track.title %></p>
        </li>
      </ul>
      <% end %>
    </div>
      <%= render 'shared/map' %>

<!-- TODO: Import favourite_button.js to make the button turn a different color when the tour has been favourited -->
<script>
//   // 1. Find the button we need to change
//   const button = document.getElementById('favourited-button')

//   // 2. Change the button's appearance and text
//   button.addEventListener('click', (event) => {
//     if (button.className === "btn-ghost") {
//       button.className = "btn-ghost-favourited";
//       button.innerText = "Remove from favourites";
//     } else {
//     button.className = "btn-ghost";
//     button.innerText = "Add to favourites";
//   };
// });

</script>


