

<!-- <div class="tour-header">
  <h1 class="tour-header__title"><%= @tour.title %> </h1>
</div> -->


<div class="main-show-container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 card-all audio-tour-show-card">
        <img class="card-img-top" id="image-top" src="<%= cl_image_path @tour.photos[0].photo %>"  alt="Card image cap">
        <div class="audio-tour-show-card__tape-overlay">
          <h3 class="card-title audio-tour-show-card__title audio-tour-show-card__tape-overlay-item"><%= @tour.title %></h3>
        </div>
      </div>
      <!-- <img src="<%= cl_image_path @tour.photos[0].photo %>" alt="" class='main-image'> -->
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[0].photo %>" alt="" class='main-image'>
    </div>
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[1].photo %>" alt="" class='main-image'>
    </div>
    <div class="col-4">
      <img src="<%= cl_image_path @tour.tracks[2].photo %>" alt="" class='main-image'>
    </div>
  </div>
</div>


<div class="show-title">
  <h3>Preview Tour</h3>
  <%= render 'shared/audio_player' %>
</div>

        <p class="card-text"><small class="text-muted">Last updated: <%= @tour.updated_at %></small></p>
            <br>

        <!-- If statement for whether current tour has already been favourited -->
        <%# if current_user != nil %>
        <div id="favourite-button-div">
          <% if current_user.favourites.where(tour_id: @tour).first == nil %>
            <%= render 'favourites/add_button', tour: @tour %>
          <% else %>
            <%= render 'favourites/delete_button', tour: @tour %>
          <% end %>
        </div>

        <%# else %>
          <%#= link_to "Add to favourites", tour_favourites_path(params[:id]), method: :post, class: "unfavourited", id: "favourited-button" %>
        <%# end %>

            <br>
            <br>
        <%= link_to "START TOUR !", track_goto_path(params[:id], @tracks.first), class: "btn btn-gradient" %>

<%= render 'shared/tour_description' %>
<%= render 'shared/visited_places' %>
<%= render 'shared/showmap' %>
<hr>
  <%= render 'shared/review_box' %>
<hr>
