<div class="main-show-container">
      <div class="audio-tour-show-card">
        <img class="card-img-top" id="image-top" src="<%= cl_image_path @tour.photos[0].photo %>"  alt="Card image cap">
        <div class="audio-tour-show-card__tape-overlay show-page-title">
          <h3 class="card-title audio-tour-show-card__title audio-tour-show-card__tape-overlay-item"><%= @tour.title %></h3>
        </div>
      <!-- <img src="<%= cl_image_path @tour.photos[0].photo %>" alt="" class='main-image'> -->

  </div>
    <div class="row show-max-width" style="max-width: 100vw;">
      <% @tour.tracks.each do |track| %>
        <div class="col">
          <img src="<%= cl_image_path track.photo %>" alt="" class='main-image'>
        </div>
      <% end %>
    </div>
</div>


<div class="show-player">
  <h3 class="show-player__label">Preview Tour</h3>
  <%= render 'shared/audio_player' %>
</div>

<div>
  <p>Created by: <%= link_to @tour.user.email, tour_user_path(@tour) %></h3>
</div>


<div class="show-details-top">
  <p><small class="text-muted"><%= @tour.category.capitalize %></small></p>
    <!-- If statement for whether current tour has already been favourited -->
      <% if current_user != nil %>

          <% if current_user.favourites.where(tour_id: @tour).first == nil %>
          <div id="favourite-button-div">
            <%= render 'favourites/add_button', tour: @tour %>
          </div>
          <% else %>
          <div>
            <%= render 'favourites/delete_button', tour: @tour %>
          </div>
          <% end %>
      <% else %>
        <%= link_to "Add to favourites", tour_favourites_path(params[:id]), method: :post, class: "unfavourited", id: "favourited-button" %>
      <% end %>
</div>

<%= render 'shared/tour_description' %>
<div class="row show-max-width" style="max-width: 100vw;">
   <% @tour.tracks.each do |track| %>
    <div class="col">
      <img src="<%= cl_image_path track.photo %>" alt="" class='main-image'>
    </div>
  <% end %>
</div>
<hr>
<%= render 'shared/visited_places' %>
<hr>
<%= render 'shared/showmap' %>
<hr>
<%= render 'shared/review_box' %>
<hr>
