<!-- <head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head> -->

<header class="page-head"><h1 style="text-align: center; margin-top: 15px;">Tours</h1></header>






 <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#1" data-toggle="tab">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#2" data-toggle="tab">Map</a>
  </li>
</ul>


    <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

















    <div class="container-reviews">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="review">
        <h3>Reviews</h3>

        <h5><strong><%= pluralize @tour.reviews.size, "review" %></strong></h5>

        <div class="reviews">
          <% if @tour.reviews.blank? %>
            <p style="font-size: 9px;">Be the first to leave a review for <%= @tour.title %></p>
          <% else %>
            <% @tour.reviews.each do |review| %>
            <p style="font-size: 16px"><%= review.content%></p>
            <hr style="margin-top: 5px; margin-bottom: 5px;">
            <% end %>

          <% end %>
        </div>
        <%= render 'reviews/form', tour: @tour, review: @review %>
      </div>
    </div>
  </div>


